<section class="slugblaster-attitude">
  {{!--<div>{{ localize 'SB.attitude_description' }}</div>--}}
  <div class="boosts-and-kicks" data-value="{{ flags.sb_boosts_and_kicks }}">
    {{#each flags.slugblaster-actor-sheet.boosts as |boost key|}}
      <span class="boost"></span>
    {{/each}}
    {{#each flags.slugblaster-actor-sheet.kicks as |kick key|}}
      <span class="kick"></span>
    {{/each}}
  </div>
</section>