<section class="slugblasterDicePool {{cssClass}}">
  <h2>{{ localize 'SB.dicepool' }}</h2>
  <div class="btn-group rolling" data-type="dicePool">
    <button class="btn dicepoolMinus">-</button>
    <button class="btn dicepoolRoll">Roll {{ actor.system.dicePool}} Di{{#if (gt actor.system.dicePool 1) }}c{{/if}}e!</button>
    <button class="btn dicepoolPlus">+</button>
  </div>
  <div class="dicePool" data-value="actor.system.dicePool" data-key="dicePool">
    {{#numLoop actor.system.dicePool}}
			{{{my_icon "dice" 'SB.dice' this}}}
    {{/numLoop}}
  </div>
</section>