<div class="specialTrait">
  <p class="specialTraitName">{{ actor.system.specialTraitName }}</p>
  <p>{{ actor.system.specialTraitDesc }}</p>
  <input id="specialTrait" type="text" name="system.specialTraitText" value="{{ actor.system.specialTraitText }}" >
</div>
