<div class="specialTrait">
  <h3>{{ actor.system.specialTraitName }}</p>
  <p>
    {{ actor.system.specialTraitDesc }}
    <input id="specialTrait" type="text" name="system.specialTraitText" value="{{ actor.system.specialTraitText }}" >
  </p>
</div>
