<div class="specialTrait">
  <h3>{{ actor.system.specialTraitName }}</h3>
  <p>
    {{ actor.system.specialTraitDesc }}
    <input id="specialTrait" type="text" name="system.specialTraitText" value="{{ actor.system.specialTraitText }}" >
    {{ localize 'Slugblaster.Actor.SpecialTraitExplainer' }}
  </p>
</div>
