<section class="slugblasterTrouble half-width">
  <h2>{{ localize 'SB.trouble' }}</h2>
	<div class="sbResources" data-value="{{ actor.system.trouble }}" data-key="trouble">
    {{#numLoop 8}}
			<i class="icon icon-trouble" data-index="{{this}}"></i>
    {{/numLoop}}
  </div>
  <span class="troubleBonus">
    {{ localize 'SB.spendTroubleToNope' }}
  </span>
</section>