/* darkmode */
/*.window-app section.window-content {
  background: url('../img/parchment-inverted.webp') repeat;
}
.window-content * {
  color: #ddd;
}*/

/* WINDOW (XP) */
.app.window-app.slugblaster {
  background-image: url('../img/app-bg.webp');
  background-repeat; repeat-x;
  color: #fff;
}
/* background for window: #e5e8f1; */
@font-face {
  font-family: 'OneDirection';
  src: url('../fonts/OneDirection.ttf');
}

/* GENERAL styles */
.slugblaster {
  .window-title, .header-button, input, label, h2, h3, textarea {
    font-family: Tahoma;
  }
  h2, h3 {
    font-family: OneDirection;
    border-bottom-color: #a3a3a3;
  }
  label { display: inline-block; color: #777; }
  .rollable, .load, .action { cursor: pointer; }
  .hidden { display: none !important; }
  
  /* FLEX */
  .flexcontainer { display: flex; }
  .flex1 { flex-grow: 1; }

  /* HEADER CLOSE BUTTON */
  .header-button.close i {
    background: red;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 3px;
  }
  
  /* BORDER and SCROLL */
  &.sheet section.window-content {
    overflow: scroll;
    border: 3px solid #0066ff;
    border-top: 0px;
  }

  /* SECTION */  
  section {
    clear: both;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    padding-right: 10px;
  }
  ul { padding: 0px; }
  
  /* FORM INPUTS */
  input, textarea {
    border: 0px;
    border-bottom: 1px solid #9d9c93;
  }
  
  .rollableTable {
    display: none;
  }
  .editable .rollableTable {
    display: inline-block;
    &:hover { color: white; }
    .icon { width: 16px; height: 16px; margin: 0; float: none; }
    .icon-dice { opacity: .3; }
    .icon-dice:hover { opacity: 1; }
    &.disabled { opacity: 0.5; text-decoration: line-through; }
  }
  .delete { display: none; }
  .editable .delete { display: inline-block; font-size: 1em; color: #777; cursor: pointer; opacity: 0.5; }
  
  /* TABS */
  .sheet-body {
    padding: 8px;
  }
  .sheet-tabs {
    border-top: 0px !important;
    border-bottom: 0px !important;
    background: url('../img/tabs-bg.png') repeat-x bottom;
    padding: 0px 4px;
  }
  .sheet-tabs .navitem {
    border: 1px solid #93a7b5;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    background: url('../img/inactive-tab.png') repeat-x top;
  }
  .sheet-tabs .active {
    background: #dbd9cd url('../img/active-tab.png') repeat-x top;
  }
}
.actor-details input#name, .slugblaster-crew-sheet #name, .slugblaster .sb-name-input {
  font-family: OneDirection;
  font-size: 2.4em;
  line-height: 2.4em;
  height: 52px;
}
.slugblaster-actor-sheet {
	padding: 5px;
  padding-left: 12px;
}

.slugblaster .addBtn {
  display: inline-block;
}

/* SIGNATURE DEVICES */
.slugblaster {
  .install, .salvage { cursor: pointer; }
  .install:hover { color: navy; }
  .salvage:hover { color: #0a3a04; }
}
.pad10bot { padding-bottom: 8px; }
.styleBonus, .troubleBonus { display: block; cursor: pointer; clear: both; }
.slugblaster .al-c { text-align: center; }
.slugblaster .editor { height: 160px; margin-bottom: 10px; border-bottom: 1px solid #777; }
.slugblaster .beatCostBlock { margin-right: 6px; display: inline-block; }

.slugblaster .signature-details .delete { font-size: 0.7em; }
.slugblaster .delete:hover { color: maroon; opacity: 1; }

/* CHARACTER details */
.actor-img {
  width: 190px;
  height: 190px;
  margin-right: 12px;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  border: 4px solid #fff;
  overflow: hidden;
}
.actor-img .attitude { text-align: center; width: 100%; }
.actor-img .attitude i { float: none; width: 42px; height: 42px; margin: 0px; }
.actor-img .sbResources, .slugblasterHype .sbResources { display: inline; }
.slugblasterHype .icon { margin: 0px 2px 0px 0px; float: left; }
.actor-img img { border: 0px; width: 100%; height: auto; }
.actor-details {
  float: left;
  width: calc(100% - 202px);
}
.actor-details div {
  display: inline-block;
  padding: 2px 0px;
  width: 100%;
}
.actor-details label, .slugblaster-gear-list label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
.actor-details input {
  display: inline-block;
  width: calc(100% - 116px);
}


/* GEAR list */
.slugblaster-actor-sheet li {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.slugblaster .load {
  display: inline-block;
  min-height: 16px;
  min-width: 16px;
  background: url('../img/check.png') no-repeat center;
  vertical-align: top;
  margin-right: 6px;
  margin-top: 1px;
}
.slugblaster .load.active {
  background-image: url('../img/checked.png');
}


/* HOVERBOARD AND RAYGUN */
.slugblasterBoardAndRaygun label {
  width: 100px;
  text-align: right;
}
.slugblasterBoardAndRaygun input {
  width: calc(100% - 124px);
}


/* SIGNATURE */
.signatureImg {
  border: 0px;
  float: left;
  display: inline-block;
  padding-right: 8px;
  width: 100px;
  max-height: 100px;
}
.signature-details {
  display: inline-block;
  width: 100%;
}
.signature-details label {
  display: inline-block;
  width: 90px;
  text-align: right;
  position: relative;
}
.signature-details input, .signature-details textarea {
  width: calc(100% - 30px);
}
.signatureDescLabel {
  top: -20px;
}
.signatureRow label {
  display: inline-block;
  width: 90px;
}
.signatureTurbo .icon { width: 32px; height: 32px; }


/* TROUBLE and STYLE */
.slugblasterStyle.editable .icon.icon-style:hover {
  background-image: url('../img/star.png');
  opacity: 0.5;
}
.slugblasterTrouble.editable .icon.icon-trouble:hover {
  background-image: url('../img/warning.webp');
  opacity: 0.5;
}
  
.slugblasterStyle .icon, .slugblasterTrouble .icon {
	height: 32px;
	width: 32px;
  float: left;
  margin: 0px 2px 0px 0px;
}
.sbResources .icon { cursor: pointer; }


/* COMPENDIUM: PLAYBOOK form */
.slugblaster-playbook-sheet section, .signature-row, .slugblasterSignatureSheet section {
  padding-bottom: 12px !important;
}
/* COMPENDIUM: SIGNATURE editing */
.slugblasterSignatureSheet ul {
  padding: 0px;
}
.slugblaster-playbook-sheet .beatName, .slugblasterBeats .beatName, .slugblasterGear .itemName, .beatRow .traitName {
  font-weight: bold;
  padding-right: 6px;
  font-size: 1.1em;
}

/* STASH */
.slugblasterStash .rollableTable .icon { width: 24px; height: 24px; }
.slugblasterStash input[type=number], .sb_itemCost input[type=number] {
  text-align: center;
  max-width: 32px;
  float: left;
}
.slugblasterStash label, .sb_itemCost label {
  float: left;
  margin-right: 16px;
}
.slugblasterGear .gearLi,
.slugblasterStash .lootLi,
.signatureTurbo .dots {
  width: 50%;
  padding-right: 10px;
  float: left;
}
.slugblasterGearSheet textarea { height: 92px; }
.signature .free { color: darkred; font-size: 0.8em; }

/* ICONS */
.slugblaster .icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0px 4px;
  cursor: pointer;
  &.icon-trouble { background-image: url('../img/warning-empty.webp'); }
  &.icon-trouble.active { background-image: url('../img/warning.webp'); }
  &.icon-style { background-image: url('../img/star-empty.png'); }
  &.icon-style.active { background-image: url('../img/star.png'); }
  &.icon-coil { background-image: url('../img/coil.png'); }
  &.icon-disc { background-image: url('../img/disc.png'); }
  &.icon.icon-gem { background-image: url('../img/gem.png'); }
  &.icon.icon-lens { background-image: url('../img/lens.png'); }
  &.icon-boost { background-image: url('../img/dice-orange-empty.png'); }
  &.icon-boost.active { background-image: url('../img/dice-orange-v2.png'); }
  &.icon-kick { background-image: url('../img/flash-empty.webp'); }
  &.icon-kick.active { background-image: url('../img/flash-v2.webp'); }
  &.icon-dice { background-image: url('../img/dice.png'); }
}


/* In the Lab */
.slugblasterStash .rollableTable {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px;
  background-color: #0066ff;
  border-radius: 15px;
  color: #c4cbff;
}


.slugblaster .inactive { opacity: 0.5; }
.slugblaster .inactive:hover { opacity: 0.9; }

.beatRow, .itemRow { clear: both; margin-bottom: 4px; }
.itemRow p, .beatRow p { display: inline; }
.beatRow .delete { margin-right: 6px; }
.beatReward { font-weight: bold; margin-right: 6px; }
.slugblasterTrait { opacity: 0.5; }
.slugblasterTrait:hover, .beatRow:hover { opacity: 1; }
.slugblasterGear .icon, .slugblasterBeats .icon { height: 16px; width: 16px; margin: 0px; }

.slugblasterBeatSheet textarea { min-height: 64px; }

.tab.legacy input { float: left; width: calc(100% - 16px); }
.tab.legacy .delete { line-height: 26px; }

.slugblaster-crew-sheet .icon { width: 36px; height: 36px; }
.slugblaster-crew-sheet .crewFractures input { float: left; width:50%; }
.crew-details { float: left; width: calc(100% - 204px); }
.crew-details input { margin-bottom: 6px; }
.crew-details h3 { margin-top: 6px; }

.sigMod, .perks .list-item { margin-bottom: 6px; border-bottom: 1px dashed #999; }
.sigMod .cost, .perks .styleCost { position: relative; }
.sigMod .cost input, .perks .styleCost input { width: 40px; margin: 0px 40px 0px 10px; text-align: center; }
.sigMod .cost .icon, .perks .styleCost .icon-style { position: absolute; top: 0px; left: 48px; }
.sigMod .name { font-weight: bold; padding-right: 12px; }
.sigMod .desc { color: #777; }
.sigMod .icon { height: 16px; width: 16px; position: relative; top: 4px; margin-left: -1px; margin-right: 6px; }

/* FAME */
.fameRow { width: 50%; display: inline-block; float: left; }
.fameName { font-size: 1.2em; font-weight: bold; clear: both; }
.perkName { clear: both; }
.slugblasterFame .icon { height: 16px; width: 16px; }
.slugblasterFame input[type='checkbox'] { height: 16px; margin: 0; margin-left: 20px; vertical-align: middle; }

/* DICEPOOL */
.btn-group { clear: both; }
.btn-group button { width: auto; margin: 0; float: left; padding: 0 6px; }
.dicePool, .opportunitiesPool, .challengesPool { clear: both; padding-top:4px; }
.dicePool .icon, .opportunitiesPool .icon, .challengesPool .icon { height: 24px; width:24px; margin: 0; }
.btn-group button:first-child { border-right: 0px; }
.btn-group button:last-child { border-left: 0px; }
input.conditional { height: 16px; margin: 0; vertical-align: middle; }
input.conditional { height: 16px; margin: 0; vertical-align: middle; }

/* FACTIONS */
.slugblasterFactions ul { border-radius: 3px; box-shadow: 0px 0px 5px #000 inset; border: 1px solid; border-color: #777 #fff #fff #777; }
li.standingLevel { padding: 4px; margin: 0; }
.standingsName { line-height: 32px; text-indent: 6px; }
.standingLevel.ally { background: rgba(61,108,172,.5); background: linear-gradient(0, rgba(34,182,141,.5) 0%, rgba(61,108,172,.5) 100%); }
.standingLevel.tight { background: rgba(34,182,141,.5); background: linear-gradient(0, rgba(184,216,93,.5) 0%, rgba(34,182,141,.5) 100%); }
.standingLevel.friendly { background: rgba(184,216,93,.5); background: linear-gradient(0, rgba(184,216,93,0) 0%, rgba(184,216,93,.5) 100%); }
.standingLevel.unstable .standingsName { text-indent: 12px; }
.standingLevel.unfriendly { background: rgba(249,194,62,.5); background: linear-gradient(0, rgba(249,194,62,.5) 0%, rgba(249,194,62,0) 100%); }
.standingLevel.rivals { background: rgba(255,64,0,.5); background: linear-gradient(0, rgba(255,64,0,.5) 0%, rgba(249,194,62,.5) 100%); }
.standingLevel.enemy { background: rgba(150,0,0,.5); background: linear-gradient(0, rgba(150,0,0,.5) 0%, rgba(255,64,0,.5) 100%); }
/* draggable factions */
.draggable-container { min-height: 32px; border: 1px dashed #dbd9cd; flex-grow: 4; display: inline-block; }
.drag-handle { cursor: grab; display: inline-block; margin-right: 8px; }
.drag-handle:hover { cursor: grabbing; }
.draggable-item { padding: 0px 6px; cursor: move; width: fit-content; display: inline-block; }
.draggable-item:hover { background-color: rgba(255,255,255,.25); }